* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #2d334a;
  line-height: 1.4;
  font-size: 16pt;
  background-color: #fffffe;
  /* CHOOSE FONTS AND EMBED IN HTML FIRST */
  font-family: ;
}

body {
  margin: auto;
}

header {
  width: 100%;
  padding: 1.5rem;
}
