* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #2d334a;
  line-height: 1.4;
  font-size: 16pt;
  background-color: #fffffe;
  /* CHOOSE FONTS AND EMBED IN HTML FIRST */
  font-family: ;
}

main {
  width: 75vw;
  margin: auto;
}

header {
  width: 100%;
  padding: 1.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

nav a {
  color: #272343;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  margin: 3rem auto;
  text-align: center;
  color: #272343;
}

h2 {
  text-align: center;
  margin: 2rem auto;
}

.home-page p {
  text-align: center;
  margin: 0 auto 2rem auto;
}

.button {
  max-width: 20vw;
  min-width: 200px;
  background-color: #ffd803;
  margin: 1rem auto 4rem auto;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 50px;
}

.button a {
  color: #272343;
  text-decoration: none;
  font-size: 1.25vw;
}

.hero {
  object-fit: cover;
  border-radius: 10px;
}

footer {
  padding: 1rem 2rem;
  background-color: #e3f6f5;
}
