* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #2d334a;
  line-height: 1.4;
  font-size: 16pt;
  background-color: #fffffe;
  font-family: "Elms Sans", Helvetica, sans-serif;
}

main {
  width: 75vw;
  margin: auto;
}

header {
  width: 100%;
  padding: 1.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

nav a {
  color: #272343;
  text-decoration: none;
}

h1 {
  font-size: 6.5vw;
  font-family: "Bagel Fat One", "Elms Sans", Helvetica, sans-serif;
  margin: 3rem auto;
  text-align: center;
  color: #272343;
}

h2 {
  text-align: center;
  margin: 2rem auto;
  font-size: 2.5vw;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.home-page p {
  text-align: center;
  margin: 0 auto 2rem auto;
}

.button {
  max-width: 20vw;
  min-width: 350px;
  background-color: #ffd803;
  margin: 6rem auto 4rem auto;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 50px;
}

.button a {
  color: #272343;
  text-decoration: none;
  font-size: 1.25vw;
  font-weight: 700;
}

.hero {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 50%;
}

/* ABOUT */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 4rem 0;
}

.grid img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid h2 {
  grid-column: 1 / 3;
}

.grid p {
  grid-column: 1 /3;
}

.top {
  text-align: center;
  margin: 3rem auto;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.top a {
  background-color: #ffd803;
  padding: 1rem;
  border-radius: 50px;
  text-decoration: none;
  color: #272343;
  font-weight: 700;
}

/* BLOG PAGE */
.jump-to {
  margin-bottom: 5rem;
}

.jump-to h4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem auto 1rem auto; 
}

.jump-to ol {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.75rem;
  row-gap: 2rem;
  margin-top: 2rem;
  font-size: 0.75rem;
  letter-spacing: 0.08rem;
}

.jump-to ol a {
  text-decoration: none;
  color: #272343;
  font-weight: 700;
  background-color: #ffd803;
  border-radius: 50rem;
  padding: 0.75rem;
}

/* FOOTER */

footer {
  margin-top: 200px;
  padding: 1rem 0 0 0;
  background-color: #e3f6f5;
}

form {
  margin: 1rem 2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

legend {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
}

input {
  margin: 0.5rem 0 1rem 0;
  max-width: 300px;
  min-width: 20vw;
}

button {
  max-width: 10vw;
  min-width: 100px;
  background-color: #ffd803;
  border-style: none;
  border-radius: 50px;
  border: 2px solid #272343;
  padding: 0.75rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #272343;
}

.sources {
  font-size: 0.75rem;
  margin: 2rem 0 0 3rem;
}

.sources a {
  color: #2d334a;
  text-decoration: none;
  padding-right: 1rem;
}

.copyright {
  font-size: 0.75rem;
  text-align: center;
  color: #fffffe;
  background-color: #272343;
  margin-top: 1rem;
  padding: 1rem;
}



